<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.malv.pusheprofiler">

    <application
        android:name=".ProfilerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PusheProfiler">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PusheProfiler.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="co.pushe.plus.fcm.FcmService"
            tools:node="remove" />

        <meta-data android:name="pushe_token" android:value="OGVwNjUxcXd5NzB5a3pxZEBtcG5AMjY1ODgxNzI4NTQ3" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=103430117" />
    </application>

</manifest>